@tailwind base;
@tailwind components;
@tailwind utilities;

.menu{
    transform: translate(0%);
    transition: transform 1000ms ease-in-out;
}

.about{
    background-color: brown;
}

.contact{
    
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: black; /* Set the color of the thumb */
  border-radius: 3px; /* Round the corners of the thumb */
}

::-webkit-scrollbar-track {
  background-color: #f3f4f6; /* Set the color of the track */
}
